* {
    box-sizing: border-box;
    color: ghostwhite;
    font-family: 'IM Fell English SC', serif;
    text-shadow: 3px 3px 5px #901a18;
    font-size: 3vmin;

}

.index-body {
    background-image: url("images/Gloomy_Forest.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
 }

#main-heading {
    font-size: 8vmin;
}

.index-body::before {
    background-image: url("images/Gloomy_Forest.jpg");
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
    transition: opacity .7s ease-in-out;
    flex-flow: row wrap;
}

.index-body.blur::before {
    opacity: 1;
}

.about {
    background-image: url("images/damnation.jpg");
    font-family: 'IM Fell English SC', serif;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}

.about-body, .about-home {
    padding: 5% 15% 0 15%;
}

.about::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("images/damnation.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
    transition: opacity .7s ease-in-out;
}

.about.blur::before {
    opacity: 1;
}

#about-link {
    display: flex;
    position: absolute;
    align-items: center;
    margin: auto;
    font-size: xx-large;
    z-index: 10;
}


.landing-page-body {
    background-image: url("images/landing.jpg");
    font-family: 'IM Fell English SC', serif;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}

.landing-page-body::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("images/landing.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
    transition: opacity .7s ease-in-out;
}

.landing-page-body.blur::before {
    opacity: 1;
}

.main-page-enter {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: xx-large;
    z-index: 5;
}

.heading {
    margin: auto;
    font-size: -webkit-xxx-large;
}

.navHeader {
    height: 20%;
    width: 100%;
    /*border: 2px solid dimgrey;*/
    box-shadow: 3px 3px 5px #901a18;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.navTitle {
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    /*border: 2px solid dimgrey;*/
    display: flex;
    Justify-content: center;
    align-items: center;
}

.title {
    height: 80%;
    width: 70%;
    text-align: center;
    padding-top: 20px;
}

.infoNav {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu {
    height: 100%;
    width: 50%;
    text-align: center;
    padding-top: 5px;
}

.menuContainer {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.locations-menu {
    height: 100%;
    width: 40%;
    box-shadow: 3px 3px 5px #901a18;
    border-radius: 5px;
    /*border: 1px solid dimgrey;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.locations-menu:hover, .locations-menu:active {
    font-size: 125%;}

.map-area {
    height: 100%;
    width: 60%;
    /*border: 1px solid grey;*/
    box-shadow: 3px 3px 5px #901a18;
    border-radius: 4px;

}

#theMap img {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: .85;
}

.hauntedSpots {
    height: 10%;
    width: 100%;
    padding-top: 13px;
    /*border: 2px solid dimgrey;*/
    text-align: center;
}

.hauntedSpots:nth-child(5) {
    padding-top: 15px;
}

.hauntedSpots {
    transition: 0.5s;
  }
  
  .hauntedSpots:hover{
    transform: scale(1.1);
  }



/***modal Container***/
.shadowBox {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.4;
    z-index: 100;
    top: 0;
    left: 0;
     display: none;
}

#infoModal { 
    position: fixed;
    z-index: 150;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     display: none;
    /* background-color: grey; */
}

.carousel-inner {
    background-color: black;
}

#theMap{
    width:85%;
    height: 85%;
    left: 5%;
    top: 5%;
}

.page-pic{
    border: 1px solid red;
    width:20%;
    height: 20%;
}
p{
    font-size: 2em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

